.LogoTile{
    height: 380px;
    width: 76%;
    margin: 60px;
    background-color: white;
    box-shadow: 2px 2px 50px 2px $greyish - 25;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    .image{
        margin-top: 20px;
        width: 85%;
    }

    .tile{
        font-size: 24px;
        margin-top: 19px;
        color: black;
        font-family: 'playfair display'
    }

    .descr{
        text-align: center;
        width: 90%;
        margin-top: 20px;
        color: $grey;
        font-family: $smallFont;
        line-height: 24px;
    }

    .btn {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        font-size: 18px;
        background: #c1a070;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 20px;
        border: black;
        opacity: .6;
        z-index: 12;
        }

        .btn:hover{
            opacity: .5;
            cursor: pointer;
        }
    
}