.Products{
    height: auto;


    .yellowHead{
        width: 100%;
        height: 5px;
        background-color: $brownYellow;
        position: absolute;
        top: 0;
    }

    .logo{
        width: 128px;
        position: absolute;
        top: 40px; 
        left: 140px;
    }

    .Nav{
        position: absolute;
        top: 70px;
        font-family: $smallFont;
    }


    .header{
        width: 100%;
        height: 400px;
        background: $greyish;
        position: absolute;
        top: 160px;
        display: flex;
        flex-direction: column;

        .shopping{
            align-self: flex-start;
            position: absolute;
            left: 450px;
            top: 130px;
            z-index: 14;
        }
        

        .yellowheadTwo{
            width: 100%;
            height: 5px;
            background-color: $brownYellow;
            position: absolute;
            top: 400px;
        }

         .titlee{
            position: absolute;
            left: 150px;
            top: 125px;
            font-family: "Playfair Display";
            font-size: 36px;
        }

        .numb{
                margin-bottom: 17px;
                font-family: $smallFont;
                font-size: 27px;
                color: $grey;
            }



        .description{
            width: 40%;
            position: absolute;
            left: 150px;
            top: 180px;
            font-family: $smallFont;
            color: $grey - 40;
            line-height: 24px;
        }

        .button{
            position: absolute;
            top: 250px;
            left: 140px;
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Arial;
            font-size: 20px;
            background: white;
            color: black;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            margin-top: 50px;
            border: none;
            opacity: .9;
            z-index: 12;
        }

        .button:hover{
            opacity: .5;
            cursor: pointer;
        }
        

        .imgs{
            width: 532px;
            height: 384px;
            margin-bottom: 15px;
            margin-left: 800px;
            z-index: 20;
            position: relative;
            top: 270px;
            animation: imgSlideUp 1s;
        }

        @keyframes imgSlideUp{
         from { margin-top: 500px;
         margin-bottom: 90px; 
         opacity: .0;}
        }
    }


    .bottomPortion{
        width: 40%;
        height: 400px;
        position: absolute;
        left: 150px;
        top: 650px;
        display: flex;
        flex-direction: column;

        .title{
            font-family: $smallFont;
            font-size: 27.6px;
            font-weight: bold;
        }

        .para{
            color: $grey - 40;
            position: relative;
            font-family: $smallFont;
            line-height: 24px;
            margin-top: 25px;
        }

        .whatYouGet{
            font-size: 27.6px;
            margin-top: 50px;
            font-family: $smallFont;
            line-height: 18.4px;


            .dumb{
                font-size: 16px;
                line-height: 24px;
                margin-top: 25px;
                list-style-type: circle;
                margin-left: 40px;
            }

            .ul{
                font-size: 16px;
                list-style-type: circle;
                color: $grey - 40;
                line-height: 24px;
                margin-left: 60px;
                margin-top: 15px;
            }  
        }


        .btnArea{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            justify-content: space-between;
            height: auto;
            width: 40%;

            .num{
                margin-bottom: 17px;
                font-size: 27px;
                color: $grey;
            }

            .btn {
                -webkit-border-radius: 28;
                -moz-border-radius: 28;
                border-radius: 28px;
                font-family: Arial;
                font-size: 20px;
                background: #c1a070;
                padding: 10px 20px 10px 20px;
                text-decoration: none;
                margin-top: 50px;
                border: none;
                opacity: .9;
                z-index: 12;
                color: white;
                }

                .btn:hover{
                    opacity: .5;
                    cursor: pointer;
                }
            }

        .note{
            font-size: 15px;
            color: $grey - 40;
            width: 50%;
            margin-top: 40px;
        }
        }
    
    // .footer{
    //         width: 110.4%;
    //         height: 234px;
    //         background: black;
    //         position: relative;
    //         margin-top: 1000px; 
    //         align-self: flex-start;
    //         margin-left: -150px;         
    //     }


//------------ADDED TO CART POPUP------------//

        .addedToCart{
            height: 100vh;
            width: 100%;
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            z-index: 98097;
background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
            animation: fadeIn 1s;

            .x{
                position: relative;
                left: 470px;
                top: -70px;
                cursor: pointer;
            }

            .addedBox{
                background: #E0E0E0;
                width: 500px;
                height: 400px;
                z-index: 78;
                animation: slideIn 1s;
                box-shadow: 2px 2px 50px 2px $greyish - 180;
                z-index: 980970;

                .award{
                    width: 100px;
                    height: 100px;
                    position: relative;
                    left: 200px;
                    top: 50px;
                    opacity: 1;
                    align-self: center;
                    animation: award 2s infinite 1s;
                }

                .addedText{
                    color: $grey;
                    position: relative;
                    font-family: $smallFont;
                    font-size: 30px;
                    left: 140px;
                    top: 30%;
                }

                .buttonss{
                    position: relative;
                    top: 150px;
                    left: 135px;
                    -webkit-border-radius: 28;
                    -moz-border-radius: 28;
                    border-radius: 28px;
                    font-family: $smallFont;
                    font-size: 20px;
                    background: white;
                    color: black;
                    padding: 10px 20px 10px 20px;
                    text-decoration: none;
                    border: none;
                    margin-bottom: 30px;
                    opacity: .9;
                    z-index: 12;
                }

                .buttonss:hover{
                    opacity: .5;
                    cursor: pointer;
                }

                .arrow{
                    position: relative;
                    top: 100px;
                    left: 170px;
                }
            }

            @keyframes slideIn{
                0% { 
                    transform: translate3d(0, -100%, 0); 
                    visibility: visible; 
                } 
                100% { 
                    transform: translate3d(0, 0, 0); 
                } 
            }

            @keyframes award{
                    0% {transform: scale(1);} 
                    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
                    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
                    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
                    100% {transform: scale(1) rotate(0);} 
            }

            // @keyframes slideIn{
            //     0% {opacity: 0;} 
            //     100% {opacity: 1;} 
            //     } 
            //     .fadeIn { 
            //         animation-name: fadeIn; 
            // }

            .toggle{
                display: none;
            }
        }
} 
