@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.ShopLogo{
    background: url('../assets/ShopLogos-background.png');
    position: relative;
    background-size: contain;
    z-index: 0;
    background-repeat: no-repeat;
    

    .yellowHead{
        width: 100%;
        height: 5px;
        background-color: $brownYellow;
        position: absolute;
        top: 0;
    }

    .logo{
        width: 128px;
        position: relative;
        top: 100px; 
        left: 140px;

                @media(max-width: 414px){
                    align-self: center;
                    position: absolute;
                    margin-top: -70px;
                }
    }

        .frontText{
        height: 700px;
        width: 100%;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: -1;

                @media(max-width: 414px){
                    height: auto;
                }
    }

    .Welcome{
        font-family: 'Playfair Display';
        font-size: 48px;
        line-height: 92px;
        position: absolute;
        top: 200px;
        animation: myfirst 1s;

                @media(max-width: 414px){
                    top: 250;
                    line-height: 50px;
                    text-align: center;
                }
    }

    @keyframes myfirst{
         from { margin-top: 50px;
         margin-bottom: 100px; 
         opacity: .1;}
        }


    .secondary{
        font-family: $smallFont;
        font-size: 24px;
        font-weight: light;
        color: $grey;
        line-height: 24px;
        position: absolute;
        top: 290px;
        animation: myfirst 1s;

                    @media(max-width: 414px){
                    position: relative;
                    top: 340px;
                    line-height: 30px;
                    text-align: center;
                    width: 80%;
                }
    }

    .second-headers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        animation: myfirst 1s;

                @media(max-width: 414px){
                    justify-content: flex-start;
                    width: 80%;
                }


        .head{
            font-family: roboto;
            font-size: 24px;
            color:black;
            line-height: 27.6px;
            margin-top: 425px;

                @media(max-width: 414px){
                    // width: 400px;
                }
        }
        .body{
            color: $grey - 50;
            line-height: 24px;
            font-size: 16px;
            margin-top: 20px;
            font-family: $smallFont;

                @media(max-width: 414px){
                    // width: 350px;
                }
        }


    }

    .availableLogo{
        width: 100%;
        height: auto;
        background-color: #f4efec; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .head{
            color: black;
            font-family: 'Playfair Display';
            font-size: 32px;
            line-height: 36.8px;
            margin-top: 65px;
        }

        .shopping{
            position: relative;
            top: 100px;
            left: 150px;
            align-self: flex-end;
        }
    }

    .logoArea{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;

        @media(max-width: 1200px){
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media(max-width: 900px){
            grid-template-columns: 1fr 1fr;
        }

                @media(max-width: 414px){
                    grid-template-columns: 1fr;
                    position: relative;
                    left: -15PX;
                }
    }

    .login{
        width: 100%;
        margin-left: 175%;
        font-family: $smallFont;
        color: $grey;
        position: relative;
        bottom: 10px;
        text-decoration: none;
        cursor: pointer;

        @media(max-width: 900px){
            margin-left: 40px;
        }

                @media(max-width: 414px){
                    text-align: center;
                    margin-left: 10px;
                }
    }


    .footerTwo{
        height: 200px;
        width: 100%;
        background-color: black;

        .logo_Foot{
            width: 64px;
            position: relative;
            left: 15%;
            top: 50px;
        }

        .email{
            color: white;
            position: relative;
            width: 10px;
            left: 15%;
            top: 65px;
            font-family: roboto;
            font-size: 20px;

                @media(max-width: 414px){
                    font-size: 12px;
                }
        }

        .footerNav{

        @media(max-width: 900px){
            width: 40%;
        }
                @media(max-width: 414px){
                    font-size: 12px;
                    width: 40%;
                }
        }

        .quarry{
            width: 150px;
            font-size: 14px;
            color: $grey;
            position: relative;
            left: 60%;
            top: 8px;
            z-index: 234;

                @media(max-width: 414px){
                    font-size: 8px;
                    width: 120px;
                }
        }

        .comp{
            width: 150px;
            font-size: 14px;
            color: $grey;
            position: relative;
            left: 60%;
            top: 28px;
            z-index: 123;

                @media(max-width: 414px){
                    font-size: 8px;
                    width: 120px;
                }
        }

        .dAndd{
            width: 180px;
            font-size: 14px;
            color: $grey;
            position: relative;
            left: 60%;
            top: 48px;
            z-index: 123;  

                @media(max-width: 414px){
                    font-size: 8px;
                    width: 120px;
                }
        }

        .bleh{
            width: 400px;
            font-size: 14px;
            color: white;
            position: relative;
            // left: 72.5%;
            // top: 34px;
            // z-index: 123;
            line-height: 16.1px;

                @media(max-width: 414px){
                    font-size: 8px;
                    width: 120px;
                }
        }
    }


}