@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


$brownYellow: #c1a070;
$grey: #999;
$pink: #ffe6e1;

$greyish: #f4efec;
$gray: #777;


$NewColor: LightenDarkenColor("#F06D06", 20); 

$smallFont: 'Open Sans', sans-serif;
